/* Tariff */
.tariff_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
}

@media (max-width: 1200px) {
    .tariff_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .tariff_wrapper {
        grid-template-columns: 1fr;
    }
}