* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    width: 1440px;
    height: 1516px;
    margin: 71px 180px 0 180px;
}

header {
    margin-bottom: 69px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

footer, .fio {
    font-size: 16px;
    line-height: 175%;
    color: #fff;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
}


input {
    border-radius: 100px;
    width: 224px;
    height: 40px;
    background: rgba(31, 41, 55, 0.6);
    padding-left: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
}

p {
    color: #fff;
}

span {
    width: 214px;
    height: 53px;
    margin-bottom: 28px;
}

nav ul li:first-child {
    margin-right: 11px;
}

nav ul li:nth-child(2) {
    margin-right: 77px;
}

nav ul li:nth-child(3) {
    margin-right: 52px;
}

nav ul li:nth-child(4) {
    margin-right: 39px;
}

nav ul li:last-child {
    margin-left: auto;
}

.content-class {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.text-content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0 366px;
}

.author-info {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 16px;
}

.author-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-p {
    font-size: 20px;
    line-height: 160%;
}

.main-img {
    border-radius: 5px;
    width: 896px;
    height: 594px;
    margin-bottom: 59px;
}

.user-img {
    background: #4b5563;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.post {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #fff;
    opacity: 0.6;
}

.date-class {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 14px;
    opacity: 0.6;
    margin-bottom: 14px;
    gap: 8px;
}

.circle-class {
    border-radius: 100px;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
}
/* 
.date-class p:nth-child(1) {
    margin-right: 12px;
}

.date-class p:nth-child(2) {
    margin-left: 12px;
} */

.additional-p {
    font-size: 16px;
    line-height: 187%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 28px;
    top: 18px;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 28px;
}